[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-filter = "*" 
django-pandas = "*"
django-cors-headers = "*"
django-environ="*"
django-csp = "*"
scrapy ="*"
grpcio = "*"
grpcio-tools = "*"
setuptools = "*"
wheel = "*"
dj-database-url = "*"
django-debug-toolbar = "*"

[dev-packages]
